<!DOCTYPE html>
<html>
<head>
  <title><%= project %> - <%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('navbar'); %>
  <div class="container-dashboard">
    <div class="left">
      <ul class="list list-championship">
        <li>
          <div class="date">
            <p>29</p>
            <p>Octobre</p>
            <p>2018</p>
          </div>
          <a class="competition" href="#">
            <h2 class="title-competition">Championnat régional</h2>
            <h3 class="location-competition">Huisseau-sur-Cosson, Centre, France</h3>
          </a>
        </li>
        <li>
          <div class="date">
            <p>29</p>
            <p>Octobre</p>
            <p>2018</p>
          </div>
          <a class="competition" href="#">
            <h2 class="title-competition">Championnat régional</h2>
            <h3 class="location-competition">Huisseau-sur-Cosson, Centre, France</h3>
          </a>
        </li>
        <li>
          <div class="date">
            <p>29</p>
            <p>Octobre</p>
            <p>2018</p>
          </div>
          <a class="competition" href="#">
            <h2 class="title-competition">Championnat régional</h2>
            <h3 class="location-competition">Huisseau-sur-Cosson, Centre, France</h3>
          </a>
        </li>
        <li>
          <div class="date">
            <p>29</p>
            <p>Octobre</p>
            <p>2018</p>
          </div>
          <a class="competition" href="#">
            <h2 class="title-competition">Championnat régional</h2>
            <h3 class="location-competition">Huisseau-sur-Cosson, Centre, France</h3>
          </a>
        </li>
        <li>
          <div class="date">
            <p>29</p>
            <p>Octobre</p>
            <p>2018</p>
          </div>
          <a class="competition" href="#">
            <h2 class="title-competition">Championnat régional</h2>
            <h3 class="location-competition">Huisseau-sur-Cosson, Centre, France</h3>
          </a>
        </li>
        <li>
          <div class="date">
            <p>29</p>
            <p>Octobre</p>
            <p>2018</p>
          </div>
          <a class="competition" href="#">
            <h2 class="title-competition">Championnat régional</h2>
            <h3 class="location-competition">Huisseau-sur-Cosson, Centre, France</h3>
          </a>
        </li>
        <li>
          <div class="date">
            <p>29</p>
            <p>Octobre</p>
            <p>2018</p>
          </div>
          <a class="competition" href="#">
            <h2 class="title-competition">Championnat régional</h2>
            <h3 class="location-competition">Huisseau-sur-Cosson, Centre, France</h3>
          </a>
        </li>
        <li>
          <div class="date">
            <p>29</p>
            <p>Octobre</p>
            <p>2018</p>
          </div>
          <a class="competition" href="#">
            <h2 class="title-competition">Championnat régional</h2>
            <h3 class="location-competition">Huisseau-sur-Cosson, Centre, France</h3>
          </a>
        </li>
      </ul>
    </div>
    <div class="right">

    </div>
  </div>
</body>
</html>
