<!DOCTYPE html>
<html>
<head>
  <title><%= project %> - <%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<ul>
  <li><strong>Championat départemental</strong><br>Huisseau-sur-Cosson, Centre</li>
  <li><strong>Championat régional</strong><br></li>
  <li><strong>Championat senior</strong><br></li>
  <li><strong>Rallye ENSAM/ESEO</strong><br></li>
  <li><strong>Course finale junior</strong><br></li>
</ul>
</body>
</html>
