<!DOCTYPE html>
<html>
  <head>
    <title><%= project %> - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= project %></h1>
    <p>Welcome to <%= project %></p>
  <form method="post" action="/connection">
    <input type="text" name="login">
    <input type="password" name="password">
    <button type="submit">Se connecter</button>
  </form>
  </body>
</html>
