<!DOCTYPE html>
<html>
  <head>
    <title><%= project %> - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <img src="/images/logo-1-dark.svg" alt="photo logo" width="170" height="170" />
      <form method="post" action="/connection">
        <input class="input-bottom" type="text" name="login" placeholder="Identifiant"><br>
        <input class="input-bottom" type="password" name="password" placeholder="Mot de passe"><br>
        <button class="button-connection" type="submit">Se connecter</button>
      </form>
    </div>
  </body>
</html>
