<header>
  <nav>
    <a href="/dashboard" class="dashboard-link">VOLNA</a>
    <ul>
      <li><a href="/disconnect">Se déconnecter</a></li>
      <li><a href="/tracker/new-rally">Nouvelle compétition</a></li>
    </ul>
  </nav>
</header>