<!DOCTYPE html>
<html>
<head>
  <title><%= project %> - <%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYC9Vc1IshWi1gUgNG0n75x7DEQ5XfkKU&callback=initMap" charset="utf-8"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    function initMap() {

      class TextMarker extends google.maps.OverlayView {

        constructor (pos, map, text) {
          super()
          this.div = null
          this.pos = pos
          this.text = text
          this.setMap(map)
        }

        onAdd () {
          this.div = document.createElement('div')
          this.div.classList.add('text-marker')
          this.div.style.position = 'absolute'
          this.div.innerHTML = this.text
          switch (this.text.trim()) {
            case 'SP':
              this.div.classList.add('text-marker-sp')
              break
            case 'FP':
              this.div.classList.add('text-marker-fp')
              break
            default:
              break
          }
          this.getPanes().overlayImage.appendChild(this.div)
        }

        draw () {
          let position = this.getProjection().fromLatLngToDivPixel(this.pos)
          this.div.style.left = position.x + "px"
          this.div.style.top = position.y + "px"
        }

        onRemove () {
          this.div.parentNode.removeChild(this.div)
        }

      }

      let map
      let poly
      let socket = io()

      let positionCompetition = {
        lat : 47.28,
        lng : 1
      }

      socket.emit('page', 'TRACKING_PAGE');

      socket.on('send_coordonates', function(message) {
        let path = poly.getPath()
        let latLng = new google.maps.LatLng(message)
        if (path.length >= 100) path.removeAt(0)
        path.push(latLng)
      })

      socket.on('send_way', function(geoJSON) {
        for (let i = 0; i < geoJSON.features.length; i++) {
          switch (geoJSON.features[i].geometry.type) {
            case 'Point':
              createMarker(geoJSON.features[i].geometry.coordinates, geoJSON.features[i].properties.name)
              break
            case 'LineString':
              createPolyline(geoJSON.features[i].geometry.coordinates)
              break
            case 'Polygon':
              createPolygon(geoJSON.features[i].geometry.coordinates[0])
              break
            default:
              break
          }
        }
      })

      function createMarker(latLngArray, content) {
        let coordinates = new google.maps.LatLng(latLngArray[1], latLngArray[0])
        new TextMarker(coordinates, map, content)
      }

      function createPolyline(latLngArray) {
        let coordinates = []
        for (let i = 0; i < latLngArray.length; i++) {
          let coor = {
            lat : latLngArray[i][1],
            lng : latLngArray[i][0]
          }
          coordinates[i] = coor
        }
        let polyline = new google.maps.Polyline({
          path : coordinates,
          geodesic : true,
          strokeColor : '#434343',
          strokeOpacity : 1.0,
          strokeWeight : 2
        });
        polyline.setMap(map)
      }

      function createPolygon(latLngArray) {
        let coordinates = []
        for (let i = 0; i < latLngArray.length; i++) {
          let coor = {
            lat : latLngArray[i][1],
            lng : latLngArray[i][0]
          }
          coordinates[i] = coor
        }
        let polygon = new google.maps.Polygon({
          paths : coordinates,
          strokeColor : '#f00',
          strokeOpacity : 0.8,
          strokeWeight : 1,
          fillColor : '#f00',
          fillOpacity : 0.35
        })
        polygon.setMap(map)
      }

      map = new google.maps.Map(document.querySelector('#map'), {
        controls : true,
        draggable : true,
        zoom   : 12,
        center : positionCompetition,
        styles : [
          {
            "featureType": "administrative.land_parcel",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "administrative.neighborhood",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "stylers": [
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "road",
            "stylers": [
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "transit",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          }
        ]
      })
    }
  </script>
</head>
<body>
  <div id="map"></div>
</body>
</html>
