.button-connection {
    font-family: "TwCenMT", sans-serif;
    color: var(--greydark);
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
    padding: 8px 37px 8px 37px;
    background-color: var(--greylight);
    border: 1px solid var(--greydark);
    transition: all .3s; }
.button-connection-sm {
    font-family: "TwCenMT", sans-serif;
    color: var(--greydark);
    margin-top: 30px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 27px 8px 27px;
    background-color: var(--greylight);
    border: 1px solid var(--greydark);
    transition: all .3s; }

.button-connection:hover {
    background-color: var(--greydark);
    color: var(--greylight); }
.button-connection-sm:hover {
    background-color: var(--greydark);
    color: var(--greylight); }

.formfield-select {
    position: relative;
    font-family: "TwCenMT", sans-serif;
    background-color: #fff;
    border: var(--greylight) 1px solid;
    margin: 10px 230px 10px 230px;
    text-align: center;
    overflow: hidden;
}
.formfield-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: auto;
    border: 0;
    margin: 0;
    padding: .75em;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.formfield-select::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: .75em;
    display: block;
    width: 0; height: 0;
    border-color: transparent;
    border-top-color: #444;
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
}