#map {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--greylight); }
  #map .gmnoprint {
    display: none; }
  #map button.gm-control-active {
    display: none; }

  /* Markers */
  #map .text-marker {
    font-family: 'Futura', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: var(--greydark);
    background-color: #fff;
    width: 50px;
    height: 25px;
    margin-top: -35px;
    margin-left: -25px;
    line-height: 25px;
    text-align: center;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
    #map .text-marker::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -6px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #fff; }
  #map .text-marker.text-marker-sp {
    background-color: yellow; }
    #map .text-marker.text-marker-sp::after {
      border-top: 6px solid yellow; }
  #map .text-marker.text-marker-fp {
    background-color: red; }
    #map .text-marker.text-marker-fp::after {
      border-top: 6px solid red; }

.afficherHeure {
  position: fixed;
  z-index: 1000;
  background-color: var(--greydark);
  color: var(--greylight);
  font-family: TwCenMT;
  font-size: 40px;
  padding: 5px 20px 5px 20px;}
  .afficherHeure p {
    margin : 0;
  }

.icon-top {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 0;
}

.icon-top:hover {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
}

.icon-bottom {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}


.icon-top:hover + .icon-hidden{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
  display:block;

}
.icon-hidden {
  text-align: center;
  margin-top: 5px;
  margin-bottom-bottom: 0;
  display:none;
}
