header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: var(--greylight);
  font-family: 'TwCenMT', sans-serif; }
  header nav {
    background-color: var(--greydark);
    position: absolute;
    width: 100%;
    height: 60px;
    margin: 0;
    top: 0; }
    header nav .dashboard-link {
      position: absolute;
      text-decoration: none;
      color: var(--greylight);
      font-size: 24px;
      left: 20px;
      top: 50%;
      margin-top: -12px; }
    header nav ul {
      height: 100%;
      list-style: none; }
      header nav ul li { }
        header nav ul li a {
          float: right;
          color: var(--greylight);
          font-family: 'TwCenMT', sans-serif;
          text-decoration: none;
          font-size: 20px;
          line-height: 30px;
          margin: 0 30px 30px 0; }