header ul {
    position: fixed;
    z-index: 1000;
    background-color: var(--greydark);
    font-family: "TwCenMT";
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}
header ul li {
    float: right;
}

header ul li a {
    display: block;
    padding: 18px 24px;
    text-decoration: none;
    color: var(--greylight);
}

header ul li a:hover {
    color: var(--greylight);
}